.slider-container{
    margin: 0 auto;
    overflow-x: hidden ;
}
.slider{
    width: 150%;
    display: flex;
    cursor: grab;
}
.item{
    height: 8rem;
    width: 100%;
    border-radius: 12px;
}
.item img{
    height: 100%;
    width: 100%;
    pointer-events: none;
    object-fit: contain;
}