//variables de colores
$MainColor: #ffe031;
$Secondarycolor: #f2f2f2;
$DarkColor: #414141;
$GrayColor: #a7a7a7;
$BackGround: linear-gradient(
  180deg,
  #fffefa 0%,
  #ffe031 0%,
  #fffefa 0.01%,
  #fcfcfc 100%
);


